<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <property name="filePrefix">group-formation-tool</property>
    </Properties>
 
 <Appenders>
    <RollingFile name="RollingFile" 
                 fileName="${filePrefix}-${date:yyyy-MM-dd}.log" 
                 filePattern="//logs//${filePrefix}-%d{yyyy-MM-dd}.log.%i">
     <PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %m%n</pattern>
			</PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    
    <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
