<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<h4 th:inline="text">BannerID:
			[[${#httpServletRequest.remoteUser}]]</h4>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	 <div class="mainGridCentreInfoBox" th:if="${published}">
        <p class="errorInfo" th:text=${published}></p>
    </div>
    <div class="mainGridCentreInfoBox" th:if="${notpublished}">
        <p class="confirmation" th:text=${notpublished}></p>
    </div>
    <div class="mainGridCentreInfoBox" th:if="${notpublishedcriteria}">
        <p class="confirmation" th:text=${notpublishedcriteria}></p>
    </div>
    <br>
	<a th:href="@{/course/course(id=${courseID})}">Home</a>
	<br>
	</body>
	</html>